<html>
  <body>

    <h1>Bienvenue chez HipCleaner !</h1>

    <p>
      Merci d'avoir rejoint la communauté, nous sommes heureux de vous compter parmi nous.
    </p>

    <p>
      Pour vous remercier, nous vous offrons 10 € de réduction sur votre prochaine commande que vous pouvez utiliser dès aujourd'hui.
    </p>

    <p>
      Pour pouvoir récupérer votre linge sans problème, nous avons besoin de toutes les informations sur votre profil.
    </p>

    <p>
      Dans tous les cas, c'est par ici :
    </p>

    <%= link_to "Je fais ma première commande", new_order_url %>

  </body>
</html>