<html>
  <body>

    <h1>Bienvenue chez HipCleaner !</h1>

    <p>
      Merci d'avoir rejoint la communauté, nous sommes heureux de te compter parmis nous.
    </p>

    <p>
      Pour te remercier, nous t'offrons 10 € de réduction sur ta prochaine commande que tu peux utiliser dès aujourd'hui.
    </p>

    <p>
      Pour pouvoir récupérer ton linge sans problème, nous avons besoin de toutes les informations sur ton profil donc remplis-le bien. ;)
    </p>

    <p>
      Dans tous les cas, c'est par ici :
    </p>

    <%= link_to "Je fais ma première commande gratuite", new_order_url %>

  </body>
</html>