<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to new_order_path, class: "padding-none" do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </li>
    <li>
      <h4>Bienvenue sur HipCleaner</h4>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
    </li>
  </ul>
</div>