<div class="col-md-12">
  <h2>Réserver un groom</h2>
  <% if current_user.ready? %>
    <div class="col-xs-12">
      <p>Pour obtenir un rendez-vous dans la journée, vous devez réserver avant 16h. Votre Groom se chargera de l'inventaire de vos vêtements lors de ce rendez-vous. Pour plus d'informations, <%= link_to "cliquez ici", about_path %>.</p>
    </div>
    <div class="col-md-4">
      <%= render "form" %>
    </div>
  <% else %>
    <div class="warning">
      <p>Avant de passer commande, vous devez renseigner vos prénom, nom, téléphone et adresse à <%= link_to "cette page", edit_user_path(current_user) %> !</p>
    </div>
  <% end %>
</div>

<%= content_for :js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      setDeliveryDate();
    })
  <% end %>
<% end %>