<%= content_for(:title) do %>
  HipCleaner - Commander
<% end %>

<div class="col-md-12">
  <h2>Réserver un groom</h2>
  <div class="col-xs-12">
    <p>Si vous souhaitez un rendez-vous dans la journée, commandez votre Groom avant 16h. Celui-ci se chargera de l'inventaire de vos vêtements lors de ce rendez-vous. Pour plus d'informations, <%= link_to "cliquez ici", faq_path %>.</p>
  </div>
  <div class="col-md-4">
    <%= render "form" %>
  </div>
</div>

<%= content_for :js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      setStartDates();
      setDeliveryDate();
      checkDeliveryDate();
    })
  <% end %>
<% end %>