<%= content_for(:title) do %>
  HipCleaner - CGU
<% end %>


<div class="jumbotronfaq text-center">
 <h1>CGU</h1>
</div>

<div class="container text-left map">
  <div class="row">
    <div class="col-sm-8 col-md-offset-2 text-justify">
      <h5>HipCleaner  a développé son site internet afin de proposer aux particuliers un service de pressing à domicile. Tous les documents mis à la disposition des utilisateurs du site sont et resteront la propriété de HipCleaner.</h5>
      <br>
      <h5>I-  Obligations des utilisateurs du service HipCleaner</h5>
      <p> Les personnes souhaitant faire appel aux services de HipCleaner doivent remplir toutes les conditions suivantes :
       - Avoir 18 ans au moins le jour de l’inscription sur le site www.hipcleaner.com ;

       - S’engager à mettre à jour les informations les concernant ;

       - S’engager à respecter la confidentialité de leur mot de passe, ne pas le communiquer ou le partager avec des tiers ;

       - Accepter la politique de confidentialité du site ;

       - Respecter les présentes conditions générales d’utilisation ;

       - Attester que les renseignements fournis pour leur inscription sur le site de HipCleaner sont exacts. La responsabilité de HipCleaner ne pourra être engagée, à quelque titre que ce soit, si les renseignements donnés par l’utilisateur se révèlent inexacts.

       Par ailleurs, les utilisateurs des services de HipCleaner ne doivent pas :
       - Usurper ou tenter d’usurper l’identité d’un autre utilisateur ;

       - Partager ou tenter de partager des contenus diffamatoires, injurieux, illégaux, ou nuisibles à HipCleaner et au site Internet (virus, publicité, spam), ou nuisibles à un tiers (informations personnelles) ;

       - Subtiliser ou tenter de subtiliser, à quelque fin que ce soit et par quelque moyen que ce soit, des informations qui sont la possession de HipCleaner.</p>

        <h5>II- Politique de confidentialité</h5>
        <p>HipCleaner s’engage à assurer la protection des données personnelles des utilisateurs du site. Les informations communiquées par l’utilisateur n’ont pas d’autre finalité que d’être utilisées par les services de HipCleaner.

        HipCleaner s’engage par ailleurs à ce que le traitement des données nominatives sur le site soit conforme à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Chaque utilisateur dispose d’un droit d’accès et d’un droit de rectification aux données personnelles le concernant (articles 34 à 38 de la loi de 1978).

        III-  Evolution des CGU
        HipCleaner se réserve le droit de modifier les termes, conditions et mentions du présent contrat à tout moment.

        IV- Droit applicable et juridiction compétente
        Les conditions générales d’utilisation sont régies par le droit français.
        Les éventuels litiges ou différends opposant un utilisateur et HipCleaner, relèveront de la compétence exclusive des tribunaux du ressort de la Cour d’Appel de Paris.</p>
      </div>
    </div>
  </div>
