<%= content_for(:title) do %>
  HipCleaner - FAQ
<% end %>

<div class="jumbotronfaq text-center">
 <h1>FAQ</h1>
</div>

  <div class="container text-left faq">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-justify">
        <h5> Comment passer une commande ?</h5>
        <p>Vous passez commande directement depuis notre site internet. En cas de difficultés, n’hésitez pas à nous contacter à l'adresse <%= link_to 'contact@hipcleaner.com', "mailto:contact@hipcleaner.com" %> – notre équipe sera ravie de vous aider !</p>

        <h5> Est-ce que vous m’envoyez un rappel pour me dire que vous venez récupérer mes vêtements ?</h5>
        <p>Oui ! Nous vous envoyons un message de rappel sur votre portable 1 heure avant le passage de votre groom HipCleaner.</p>

        <h5>Qui se charge de récupérer mes vêtements ?</h5>
        <p>Une fois votre commande validée, un de nos grooms HipCleaner se déplace jusqu’à votre domicile pour récupérer vos précieux vêtements. Nous comptabilisons ensemble les articles que vous nous confiez et nous vous laissons un reçu.</p>

        <h5>Est-ce que je dois prévoir un sac dans lequel mettre les vêtements que vous venez récupérer ?</h5>
        <p>Non ! Nous nous occupons de tout. Vous n’avez qu’à mettre vos vêtements de côté. Nous avons à notre disposition des sacs de récupération de linge. Nous utilisons un sac par client.</p>

        <h5>Est-ce que je dois vous signaler les tâches sur mes vêtements ?</h5>
        <p>Nettoyer vos vêtements est notre job ! Nous avons mis en place plusieurs points de contrôle qui nous permettent d’identifier et de nettoyer toutes vos tâches. Cependant, il est toujours utile de connaître le type de tâche sur vos vêtements (huile, vin, sauce…)  afin de mettre en œuvre le traitement le plus adéquat. Donc si vous connaissez le type de tâche, indiquez-le à votre groom HipCleaner.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-justify">
        <h5>Que se passe-t-il une fois que vous avez récupéré mes vêtements ?</h5>
        <p>Une fois que votre groom HipCleaner a récupéré vos vêtements, nous nous chargeons de les nettoyer dans les 48 heures.</p>

        <h5>Qui s'occupe de nettoyer mes vêtements ?</h5>
        <p>Nous avons sélectionné pour vous le meilleur du pressing parisien. Préparez-vous à un service de qualité. </p>

        <h5>Quand est-ce que je récupère mes vêtements ?</h5>
        <p>Un groom HipCleaner prendra le soin de vous rapporter vos vêtements à la date et au lieu que vous aurez indiqués lors de votre commande.</p>

        <h5>Est-ce que je peux changer la date et l’heure de retour de mes vêtements une fois la commande validée ?</h5>
        <p>Oui ! Si vous souhaitez modifier l’heure et/ou le lieu de retour des vêtements faites-le nous savoir par email à contact@hipcleaner.com
        Nous mettrons tout en œuvre pour vous proposer le rendez-vous qui vous convient le mieux.</p>

        <h5>Que se passe-t-il en cas de dégradation ou de perte d'un des mes vêtements ?</h5>
        <p>Nous vous dédommageons en appliquant le barême d'indemnisation établi par la Fédération Française des Pressings et Blanchisseries.</p>

        <h5>Quand est-ce que je paye ?</h5>
        <p>Vous payez lorsque votre groom HipCleaner vous rapporte vos vêtements.</p>

        <h5>Comment est-ce que je paye ?</h5>
        <p>Nous débitons directement le compte de la carte bancaire que vous avez renseignée lors de votre première commande sur notre site www.hipcleaner.com</p>

      </div>
    </div>
  </div>

