<%= content_for(:title) do %>
  HipCleaner - Service client
<% end %>

<div class="jumbotronfaq text-center">
 <h1>Service client</h1>
</div>


<div class="container service">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-offset-2 text-justify">
    <h5> Vous avez une question, une observation ou une suggestion ? N'hésitez pas à nous contacter !</h5>
    <br>
    <ul>
      <li><h5> Par mail à l'adresse suivante : contact@hipcleaner.com </h5></li>
      <li><h5> Par téléphone au 06 15 70 47 68 </h5></li>
      <li><h5> Emplois : soumettez votre candidature à jobs@hipcleaner.com </h5></li>
      <li><h5> Partenariats : un concept, une idée ou un projet envoyez à partnership@hipcleaner.com </h5></li>
    </ul>
    </div>
  </div>
</div>