
$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-dark: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 85%);
$hip-color: rgba(0, 0, 0, 0.2);

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300');
@import "home";
@import "footer";
@import "navbar";
@import 'bootstrap-datepicker3';

body {
  font-family: 'Open Sans';
  font-weight: 300;
}

#body {
  padding-top: 60px;
}

.logo {
  height: 200px;
}

.logo-icon {
  height: 50px;
}

.btn {
  border-radius: 2px;
}

.form-control {
  border-radius: 2px;
}

.btn-primary {
  background-color: rgba(80, 80, 80, 0.9);
  border: 0px;
  transition: all 0.5s ease-in;
}

.btn-primary:hover {
  background-color: rgb(0, 0, 0);
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $hip-color;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 0;
  border-bottom: 1px solid #949599;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 210px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.width-40 {
  width: 40px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #mobile-navbar {
    display: none;
  }

  #welcome-mobile-navbar {
    display: none;
  }

  #body {
    padding-top: 0;
  }
}

#welcome-mobile-navbar {
  display: visible;
}

#mobile-navbar {
  display: visible;
}

.padding-none {
  padding: 0;
}

.btn-facebook {
  background-color: #3A5795;
  width: 100%;
  color: white;
}

.btn-facebook:hover {
  color: white;
  font-weight: bold;
}

.white-bg {
  background-color: white;
}

.margin-none {
  margin: 0;
}

.margin-btm-10 {
  margin-bottom: 10px;
}

#mobile-navbar ul {
  display: inline;
}

#mobile-navbar {
  position: absolute;
  top: 0;
  padding: 0;
  margin-bottom: 0;
}

#mobile-navbar .list-inline > li > a {
  color: $color;
  height: 60px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 40%;
  padding-right: 40%;
}

#mobile-navbar .list-inline > li > #logo-naked {
  padding-left: 10%;
  padding-right: 10%;
}

#mobile-navbar .list-inline > li > a:hover {
  color: #FED7C0;
}

#mobile-navbar .list-inline > li {
  line-height: 60px;
  width: 20%;
  border-left: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
}

#mobile-navbar .list-inline > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#mobile-navbar ul {
  margin-bottom: 0;
}

#welcome-mobile-navbar {
  position: absolute;
  top: 0;
  padding: 0;
  margin-bottom: 0;
  height: 60px;
}

#welcome-mobile-navbar .list-inline > li > a {
  color: $color;
  height: 60px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 25%;
  padding-right: 25%;
}

#welcome-mobile-navbar .list-inline > li > a:hover {
  color: #FED7C0;
  text-decoration: none;
}

#welcome-mobile-navbar .list-inline > li {
  line-height: 60px;
  width: 33%;
  border-left: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
}

#welcome-mobile-navbar .list-inline > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.border-right {
  border-right: 1px solid white;
}

.margin-left-neg-5 {
  margin-left: -5px;
}