.logo-navbar {
  height: 100px;
}

.jumbotron {
  background-image: url(image_path("home4.jpg"));
  background-size: cover;
  height: 600px;
  padding-top: 250px;
  color: white;
}

.jumbotron h1 {
  font-size: 42px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}

.vertical-spacer {
  height: 2em;
}

.why-hipcleaner {
  padding-top: 50px;
  padding-bottom: 60px;
}

.title {
  padding-bottom: 50px;
}

.servicestitle {
  font-weight: 300;
}

.pricing {
  padding: 80px;
  background-color: #F4F4F4;
}

.minimum-order {
  font-style: italic;
  font-weight: 300;
}

.map {
  padding-top: 40px;
  padding-bottom: 60px;
}

#how-it-works-scroll-helper {
  position: relative;
  bottom: 80px;
}

#pricing-scroll-helper {
  position: relative;
  bottom: 80px;
}

#btn-color {
  background-color: rgb(229, 25, 50);
  border: 0px;
}

.table-home tbody td {
  border: 1px solid rgba(30, 30, 30, 0.9);
}
